@page "/customer-entry"
@using Microsoft.Extensions.Logging
@using Pixsale.Shared.Clients
@using System.ComponentModel.DataAnnotations
@using static Pixsale.Shared.Components.App.Customer.CustomerForm

@inject NavigationManager NavigationManager
@inject CustomerClient CustomerClient
@inject ILogger<CustomerEntry> Logger
<button @onclick="@(()=>NavigationManager.NavigateTo("/customers"))" class="text-tata hover:text-blue-900 focus:outline-none">←</button>
<h2>Customers</h2>
<CustomerForm CustomerModel="CustomerModel" OnSubmit="@SaveCustomer" />

@code {
    public CustomerDto CustomerModel { get; set; } = new();

    private async Task SaveCustomer(CustomerDto customer)
    {
        if (customer is not null)
        {
            var customerClient = customer.toCustomerClient();
            await CustomerClient.PostAsync(customerClient);
            NavigationManager.NavigateTo("/customers");
        }
    }
}
